.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 15px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

.main {
    height: 400px;
    width: 734px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 10px;
    display: inline-block
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-left: 10px;
}